<!-- {% load static %} -->
<!doctype html>
<html lang="en">
    
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="css/bootstrap.min" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Charmonman&display=swap" rel="stylesheet">

    <title>Pageant Pencil</title>
  </head>
  
  <body>
      
<!--{%block content%}  -->
        <h1 class="logo">Pageant Pencil</h1>
        <div class="top"></div>
        <nav>
            <div class="nav nav-tabs justify-content-end" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-poem-tab" data-bs-toggle="tab" data-bs-target="#nav-poem" type="button" role="tab" aria-controls="nav-poem" aria-selected="true"><h2> Poems </h2></button>
            <button class="nav-link" id="nav-quote-tab" data-bs-toggle="tab" data-bs-target="#nav-quote" type="button" role="tab" aria-controls="nav-quote" aria-selected="false"><h2> Quotes </h2></button>
            
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-poem" role="tabpanel" aria-labelledby="nav-poem-tab">
                <div class="poem-area">


                    <div class="left">
                        <div class="container bootstrap snippets bootdey">
                            <br><br>
                            <div class="row">
    
                                <div class="col-md-6">
                                    <a href="poem.html" class="widget widget-image">
                                        <div class="widget-image-cover">
                                            <img src="https://specials-images.forbesimg.com/imageserve/1089998688/960x0.jpg?fit=scale" alt="">
                                        </div>
                                        <div class="widget-image-info">
                                            <h2>Overwhelmed By My Own Feelings</h2>
                                            
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="right">
                        
                        <div class="container bootstrap snippets bootdey">
                        
                            <div class="row">
                                <div class="col-md-6">
                                <!--this div is to right align this post-->
                                </div>
                                <div class="col-md-6">
                                    
                                    <a href="poem.html" class="widget widget-image">
                                        <div class="widget-image-cover">
                                            <img src="https://c4.wallpaperflare.com/wallpaper/46/358/349/meteor-anime-anime-boy-anime-girl-love-night-friends-wallpaper-preview.jpg" alt="">
                                        </div>
                                        <div class="widget-image-info">
                                            <h2>I love to love you</h2>
                                            
                                        </div>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>


            <div class="tab-pane fade" id="nav-quote" role="tabpanel" aria-labelledby="nav-quote-tab">
                
                <div class="quote-area">
                    <div class="left">
                        <div class="container bootstrap snippets bootdey">
                            <br><br>
                            <div class="row">
    
                                <div class="col-md-6">
                                    <div class="widget widget-image">
                                        <div class="widget-image-cover">
                                            <img src="https://cdn.statically.io/img/wallpaperaccess.com/full/1244028.jpg" alt="">
                                        </div>
                                        <div class="widget-image-info">
                                            <h2>Never let the fear of striking out keep you from playing the game</h2>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="right">
                        
                        <div class="container bootstrap snippets bootdey">
                        
                            <div class="row">
                                <div class="col-md-6">
                                <!--this div is to right align this post-->
                                </div>
                                <div class="col-md-6">
                                    
                                    <div class="widget widget-image">
                                        <div class="widget-image-cover">
                                            <img src="https://theshubhsterdiaries.files.wordpress.com/2019/08/5-54538_best-friend-wallpaper-hd-two-friends-hd-1.jpg?w=1400" alt="">
                                        </div>
                                        <div class="widget-image-info">
                                            <h2>It's never too late to have a happy childhood.</h2>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>


    
    <ul>

    <footer >
        
        <span class="insta"><i class="fa fa-instagram" aria-hidden="true"></i></span>
        
        <div class="footer-copyright text-center py-3"> Copyright © 2021</div>
            
    </footer>
    <!-- {%for post in object_list %}
        {% ifequal post.language "Hindi"  %}
        <li><a href="{% url 'post-detail' post.pk %}">{{post.title}}</a> - {{post.author.first_name}}<br/>
        {{post.body}} <img src="{{ post.image.url }}" width=50%></li>
        {% endifequal %}
    
    {% endfor %}
    <ul>
{% endblock %} -->
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <script src="js/bootstrap.min" ></script>

    
  </body>
</html>
