*{
    background-color: #C7CFB7;
    word-wrap:break-word;
    height: auto;
    margin-bottom: 0px;
    
}
body{
    overflow-x:hidden;
    
}
.widget.widget-image {
    overflow: hidden;
    display: block;
}

.widget {
    border: none;
    box-shadow: 0 2px 0 rgba(0,0,0,.07);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    background: black;
    padding: 20px;
    display: block;
    
}

.widget-image-cover {
    margin: -20px;
    padding: 5% 1% 5%;
    border-radius: 5px;
    overflow: hidden;
    background: #C7CFB7;
    position: relative;
    
}

h1{
    background-color: transparent;
    font-family: 'Akaya Telivigala', cursive;
    
}

.content{
    padding-left:10%;
    padding-right:10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right:5%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    background-color: #F7F7E8;
    
}


.widget-image-cover img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    
}

.widget-image-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 75%);
    padding: 20px;
    color: #fff;
}



.row {
    margin: 0 -10px;
}

.row>[class*=col-] {
    padding: 0 10px;
}
.area {
    height:auto;
    width:auto;
    /* overflow: scroll; */
    background-color:  #C7CFB7;
    margin-top:0px;
    color:black;
    padding-left: 5% ;
    padding-top: 5% ;
    padding-bottom: 5% ;
    padding-right: 0%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    
}

body::-webkit-scrollbar {
    width: 2px;               /* width of the entire scrollbar */
  }
  
body::-webkit-scrollbar-track {
    background: #557174;        /* color of the tracking area */
  }
  
body::-webkit-scrollbar-thumb {
    background-color:#557174;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid #557174;  /* creates padding around scroll thumb */
  }

.wrapper{
    background-color:#C7CFB7 ;
    
    padding-left: 80%;
}
.heart {
color: black;
background-color: currentColor;
display: inline-block;
height: 25px;
margin: 0 5px;
/* position: relative;
top: 0; */
transform: rotate(-45deg);
/* position: absolute;
left: 60vw;
top: 20vh; */
width: 25px;
}

.heart-checkbox {
display: none;
}

.heart::before,
.heart::after {
content: "";
background-color: currentColor;
border-radius: 50%;
height: 25px;
position: absolute;
width: 25px;
}
.heart:hover{
    cursor: pointer;
}
.heart:before {
top: -12.5px;
left: 0;
}

.heart:after {
left: 12.5px;
top: 0;
}

.heart-checkbox:checked + .heart {
color: rgb(206, 9, 9);
}

.bottom{
    margin-right:0.05%;
    padding-top:2%;
    background-color: #C7CFB7;
    
}

i{
    background-color: #C7CFB7;
    
   
}

i:hover{
    cursor: pointer;
}

.share{
    font-size: 35px;
    margin:0px;
    background-color: #C7CFB7;
    padding-left: 10%;

}
@media only screen and (max-width: 700px) {
    h2,h4{
        font-size:51px ;
    }
}
